:root {
  --background-dark: white;
  --background-dark-secondary: #f1f3f5;
  --background-dark-third: #dee2e6;
  --background-light: #111;
  --primary-accent-color: #20c997;
  --secondary-accent-color: #087f5b;
}

.darkmode {
  --background-dark: black;
  --background-dark-secondary: #111;
  --background-dark-third: #222;
  --background-light: white;
  --primary-accent-color: #20c997;
  --secondary-accent-color: #0ca678;
}
