/* Resets every elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  background: none;
  list-style: none;
}

body {
  position: relative;
  background-color: var(--tertiary-bg-color);
  min-height: 100%;
  opacity: 1;
  overflow: hidden;
  transition: var(--transition-three-ms);
  width: 100%;
}
