/**************** SIDEBAR NAVIGATION ***************/

.movie-sidebar-nav {
  background-color: var(--sidebar-bg-color);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 100vh;
  width: 5rem;
  transition: var(--transition-four-ms);
  text-align: center;
  padding: 1rem 0.5rem;
  padding-right: 1.5rem;
  position: fixed;
  z-index: 104;
}

/**************** SIDEBAR BUTTONS***************/

.nav-lists {
  display: flex;
  flex-direction: column;
  transition: var(--transition-three-ms);
  gap: 1rem;
}

.movie-sidebar-nav.active .nav-lists {
  transform: translateY(-15%);
}

.nav-list,
.search-input-container {
  border-radius: 8px;
  height: 2.5rem;
  width: 100%;
  margin: 0 0.5rem;
  position: relative;
}

.nav-btn,
.nav-form-btn {
  align-items: center;
  border-radius: 8px;
  color: var(--primary-text-color-inverted);
  cursor: pointer;
  display: flex;
  gap: 1rem;
  padding: 0.3rem 0.8rem;
  transition: var(--transition-three-ms);
}

.nav-btn:hover {
  background-color: var(--tertiary-bg-color);
}

.movie-sidebar-nav.active .nav-btn {
  padding: 0.3rem 1rem;
}

.nav-btn .nav-title {
  transition: var(--transition-three-ms);
  transform: translateX(-10%);
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  left: 0.5rem;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.movie-sidebar-nav.active .nav-title {
  opacity: 1;
  position: relative;
  left: 0rem;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.movie-sidebar-nav .bx {
  border-radius: 8px;
  font-size: 1.5rem;
  height: 2.5rem;
  max-width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.nav-list .bx.active {
  color: var(--primary-accent-color);
  animation: 0.35s linear normal icon-anim;
  animation-play-state: inherit;
}

/**************** TOOLTIP/SECONDARY TITLE ***************/

.movie-sidebar-nav .secondary-title {
  color: var(--primary-text-color-inverted);
  transform: translate(15%, -50%);
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 3rem;
  width: 10rem;
  pointer-events: none;
  visibility: hidden;
  transition: var(--transition-three-ms);
  z-index: 10;
}

.nav-list:hover .secondary-title,
.search-input-container:hover .secondary-title {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translate(20%, -50%);
  display: block;
}

.movie-sidebar-nav.active .secondary-title {
  display: none;
}

/**************** SIDEBAR SEARCH-BAR ***************/

.sidebar-form {
  margin-top: 1.5rem;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  z-index: 3;
}

.movie-sidebar-nav.active .sidebar-form {
  cursor: auto;
}
.sidebar-form:hover {
  background-color: var(--tertiary-bg-color);
  border-radius: 8px;
}

.sidebar-search-input {
  background-color: var(--tertiary-bg-color);
  border-radius: 8px;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  transition: var(--transition-three-ms);
  padding: 0.5rem;
  padding-left: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.movie-sidebar-nav.active .sidebar-search-input {
  opacity: 1;
  pointer-events: auto;
  color: var(--primary-text-color-inverted);
  visibility: visible;
}

.sidebar-search-btn {
  color: var(--primary-text-color-inverted);
  cursor: pointer;
  transition: var(--transition-three-ms);
  position: absolute;
  top: 0;
  left: 0.2rem;
  z-index: 3;
}

.sidebar-search-btn .bx {
  width: 3rem;
}

.movie-sidebar-nav.active .sidebar-search-btn {
  color: var(--primary-accent-color);
}

/**************** EXPAND BUTTON SIDEBAR***************/

.sidebar-expand-btn {
  right: 0;
  top: 0;
  position: relative;
}

.movie-sidebar-nav.active .sidebar-expand-btn {
  position: absolute;
  opacity: 1;
}

/**************** WEBSITE LOGO ***************/

.logo-container {
  align-items: center;
  color: var(--primary-text-color-inverted);
  display: flex;
  gap: 0.5rem;
  transition: var(--transition-three-ms);
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
}

.logo-img {
  width: 3.5rem;
}

.logo-name {
  pointer-events: none;
  visibility: hidden;
  transition: var(--transition-three-ms);
  transform: translateX(-10%);
  opacity: 0;
}

.movie-sidebar-nav.active .logo-container {
  left: 1rem;
}

.movie-sidebar-nav.active .logo-name {
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0%);
  opacity: 1;
}

/**************** SIDEBAR FOOTER ***************/

.sidebar-footer {
  margin-top: auto;
}

.settings-icon {
  color: var(--primary-text-color-inverted);
  font-size: 1.5rem;
  transition: var(--transition-four-ms);
}

.settings-icon.spin {
  transform: rotate(360deg);
}

@keyframes icon-anim {
  0% {
    transform: scale(1.05) rotate(20deg);
  }
  50% {
    transform: scale(1.1) rotate(-20deg);
  }
  75% {
    transform: scale(1.05) rotate(-10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
