.expansion-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--background-dark);
  width: 100%;
  min-height: 100vh;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: all 0.4s ease;
  transform: scale(1);
  z-index: 5;
}

.video-overview-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.back-btn {
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  width: 6rem;
  padding: 0.25rem 0.5rem;
  margin-left: 5%;
  border-radius: 50px;
  border: 1px solid var(--primary-accent-color);
  color: var(--primary-accent-color);
  transition: all 0.3s ease;
}

.back-btn:hover {
  color: white;
  background-color: var(--primary-accent-color);
}

.video-trailer-container {
  max-width: 90%;
  margin: auto;
}

.trailer-container {
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

.trailer-video {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.trailer-overview {
  display: flex;
  margin: auto;
  gap: 1rem;
  padding-right: 0.5rem;
  width: 90%;
}

.trailer-desc-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.trailer-title {
  color: var(--background-light);
  font-size: 2rem;
  font-weight: 500;
}
.trailer-desc {
  color: var(--background-light);
  font-size: 1rem;
  line-height: 1.5;
}
