/**************** BACK BUTTON STYLING***************/

.back-btn {
  width: 6rem;
}

/**************** EXPAND SECTION ***************/

.expand-sec {
  position: relative;
}

.expansion-section {
  background-color: var(--tertiary-bg-color);
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  transition: var(--transition-three-ms);
  gap: 1rem;
  top: 0;
  left: 0;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 100;
}

.expansion-section.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.video-overview-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.video-trailer-container {
  max-width: 85%;
}

.poster-container {
  border-radius: 5px;
  padding-bottom: 52%;
  position: relative;
  height: 0;
  transition: var(--transition-four-ms);
}

.trailer-container.active .poster-container {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.video-poster-path {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-poster {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.15));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/**************** CLOSE VIDEO BUTTON STYLING ***************/

.close-video {
  color: white;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--secondary-accent-color);
  transition: var(--transition-three-ms);
  position: absolute;
  right: -2%;
  top: -5%;
  z-index: 44;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.close-video:hover {
  background-color: var(--primary-accent-color);
}

.close-video.active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

/**************** VIDEO TRAILER ***************/

.trailer-container {
  padding-bottom: 52%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: 0;
}

.trailer-video {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  transition: var(--transition-four-ms);
}

.trailer-container.active .trailer-video {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/**************** MOVIE/TV POSTER STYLING ***************/

.poster-overview {
  display: flex;
  margin: auto;
  gap: 1rem;
  padding-right: 0.5rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  width: 70%;
  z-index: 3;
}

.secondary-poster-overview {
  display: none;
}

.poster-desc-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.poster-title {
  color: #20c997;
  font-size: 3.5vw;
  font-weight: 600;
}

.poster-btn-container {
  display: flex;
  gap: 0.5rem;
}

.poster-btn {
  display: flex;
  color: white;
  align-items: center;
  gap: 0.5rem;
}

.poster-btn:hover {
  background-color: #20c997;
}

.poster-btn i {
  font-size: 1.5rem;
  color: white;
}

.watch-trailer-btn i {
  font-size: 1.8rem;
}

/**************** GENRE TAGS ***************/

.poster-genre-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.poster-genre-tag {
  display: inline-block;
}

/**************** MOVIE/TV DESCRIPTION **************/

.trailer-overview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 0.5rem;
  width: 85%;
}
.trailer-desc-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.trailer-desc {
  color: var(--primary-text-color-inverted);
  font-size: 1rem;
  line-height: 1.5;
}

/**************** MOVIE/TV STATS ***************/

.movie-stats {
  display: flex;
  gap: 1rem;
  width: 85%;
  justify-content: start;
  align-items: center;
  position: relative;
}

.rating-container {
  border: 2px solid var(--primary-accent-color);
  width: 7rem;
  height: 7rem;
  border-radius: 5px;
}
.rating-text {
  font-size: 1.7rem;
  color: var(--primary-accent-color);
}
.rating-count {
  font-size: 0.6rem;
  color: var(--quartenary-bg-color);
}

.other-details {
  color: var(--primary-text-color-inverted);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.other-details span {
  color: var(--primary-accent-color);
}

.other-detail {
  font-size: 0.9rem;
}

/**************** BOOKMARK BUTTON ***************/

.bookmark-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.bookmark-btn:active {
  transform: scale(0.95);
}

.icon-bm {
  font-size: 1.2rem;
}

/**************** CASTS SECTION ***************/

.casts-section {
  margin: 1rem 0 1rem 0;
  width: 100%;
  padding: 0.5rem;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cast-sec-title {
  color: var(--primary-text-color-inverted);
  font-weight: 500;
  font-size: 2rem;
}

.casts-container {
  display: flex;
  gap: 1rem;
}

.cast-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.picture-cicle {
  border-radius: 5px;
  border: 3px solid var(--primary-accent-color);
  width: 10rem;
  height: 13rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cast-picture {
  width: 100%;
  transition: var(--transition-four-ms);
}

.cast-picture:hover {
  transform: scale(1.1);
}

.cast-name {
  color: var(--primary-text-color-inverted);
  font-size: 1rem;
}

/**************** IMAGE UNAVAILABLE STYLING ***************/

.ph-icon {
  font-size: 3rem;
  color: var(--primary-accent-color);
}

.img-unavailable-text {
  color: var(--primary-accent-color);
}
