.section-header {
  align-items: center;
  color: var(--primary-text-color-inverted);
  padding: 1rem;
  padding-bottom: 0;
  transition: var(--transition-three-ms);
  display: flex;
}

.section-header.active {
  transform: scale(0.95);
}

.header-title {
  font-size: 2rem;
}
