.section-header {
  align-items: center;
  color: var(--background-light);
  padding: 1rem;
  padding-bottom: 0;
  transition: all 0.3s ease;
  display: flex;
}

.section-header.active {
  transform: scale(0.95);
}

.header-title {
  font-size: 2rem;
}
