.movie-main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.movie-card {
  width: 13rem;
  overflow: hidden;
  position: relative;
}

/* Animates the movie-info when the user mouse hovers in movie card */

.movie-card:hover .movie-info {
  opacity: 1;
  transform: translate();
  transform: translate(-50%, -110%);
}

.movie-img {
  width: 100%;
  border-radius: 5px;
}

.movie-info {
  background-color: #222;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.3s ease;
  transform: translate(-50%, -90%);
  text-align: center;
  top: 100%;
  left: 50%;
  opacity: 0;
  width: 95%;
  padding: 1rem;
  position: absolute;
}

.movie-title {
  font-size: 1.3rem;
}

.expand-btn {
  background-color: #20c997;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.expand-btn:hover {
  background-color: #38d9a9;
}

/* Show all Button */

.showall-card-btn {
  align-self: center;
  cursor: pointer;
  background-color: #111;
  border-radius: 5px;
  width: 13rem;
  height: 19rem;
  text-align: center;
}

.showall-btn {
  color: white;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

/* Animates the right arrow and the showall text when card is hovered */

.showall-card-btn:hover .right-arrow {
  color: #20c997;
  transform: translateX(10%);
  left: 5%;
}

.showall-card-btn:hover .showall-btn {
  color: #20c997;
}

.right-arrow {
  transform: translate();
  transition: all 0.3s ease;
  position: relative;
  left: 0%;
}
