.movie-pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  transition: var(--transition-three-ms);
}

.movie-pagination button {
  color: var(--primary-accent-color);
  cursor: pointer;
  border-radius: 100px;
  transition: var(--transition-three-ms);
}

.btn-arrow {
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-accent-color);
}

.btn-arrow:hover,
.btn-page-num:hover,
.btn-page-num.active {
  color: white;
  background-color: var(--primary-accent-color);
}

.btn-page-num {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
