.movie-pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.movie-pagination button {
  color: #20c997;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.btn-arrow {
  padding: 0.5rem 1rem;
  border: 1px solid #20c997;
}

.btn-arrow:hover,
.btn-page-num:hover {
  color: white;
  background-color: #20c997;
}

.btn-page-num {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
