.search-form {
  align-items: center;
  background: #111;
  border-radius: 100px;
  display: flex;
  height: 3.5rem;
  margin: 1.5rem;
  gap: 0.5rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem 1rem;
  z-index: 3;
}

/* Animates searchbar when form is hovered */

.search-form:hover input {
  width: 15rem;
  opacity: 1;
}

.input-search {
  color: white;
  width: 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0;
  transition: all 0.3s ease;
}

.search-btn {
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.search-icon {
  fill: white;
}
