/* Sidebar navigation */

.movie-sidebar-nav {
  background-color: #111;
  display: flex;
  height: 100vh;
  width: 5rem;
  transition: all 0.4s ease;
  text-align: center;
  overflow: hidden;
  padding: 1.5rem 0rem;
  position: fixed;
  z-index: 5;
}

.movie-sidebar-nav:hover {
  width: 15rem;
}

.movie-sidebar-nav.unexpand {
  width: 5rem;
}

/* Overlaymain */

.overlay-main {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  visibility: hidden;
  z-index: 4;
}

.overlay-main.active {
  opacity: 0.7;
  pointer-events: auto;
  visibility: visible;
}

/* makes fade animation to the nav titles when sidebar is hovered */

.movie-sidebar-nav:hover .nav-title {
  opacity: 1;
}

/* Website Logo */

.logo-container {
  align-items: center;
  color: white;
  display: flex;
  gap: 1rem;
  width: 15rem;
  margin-top: auto;
}

.logo-img {
  width: 30%;
}

/* Navigation Lists and Buttons */

.nav-lists {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.nav-list {
  transition: all 0.3s ease;
}

.nav-list:hover {
  background-color: rgb(32, 32, 32);
}

.nav-btn {
  align-items: center;
  cursor: pointer;
  color: white;
  display: flex;
  width: 15rem;
  gap: 1rem;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
  padding: 1rem 1.3rem;
  position: relative;
}

.nav-btn.active {
  color: #20c997;
}

.nav-icon {
  font-size: 2rem;
}

.nav-title {
  position: relative;
  opacity: 0;
  transition: all 0.4s ease;
  top: 50%;
  margin-left: 1rem;
}

/* BUTTON HOVER EFFECT */

.nav-btn::after {
  background-color: #20c997;
  content: "";
  width: 100%;
  height: 0.1rem;
  transition: all 0.3s ease-in-out;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.nav-btn:hover {
  letter-spacing: 0.5px;
}

.nav-btn:hover::after {
  transform: scale(1, 1);
}
