@media screen and (max-width: 580px) {
  html {
    font-size: 80%;
  }

  .section-1 {
    padding-left: 0rem;
  }

  .section {
    margin: auto;
    margin-left: 0;
    padding: 1rem;
  }

  .movie-card:hover .movie-info {
    opacity: 0;
    transform: unset;
  }

  .menu-btn {
    display: block;
  }

  .movie-sidebar-nav {
    transform: translateX(-100%);
    width: 15rem;
  }

  .movie-sidebar-nav.active {
    transform: unset;
    width: 15rem;
  }

  .sidebar-expand-btn {
    opacity: 0;
  }

  /* expand section */

  .expand-sec {
    flex-wrap: wrap;
  }

  .video-trailer-container {
    max-width: 100%;
  }

  .trailer-overview {
    width: 100%;
  }
  .trailer-desc-container {
    width: 100%;
  }

  .movie-stats {
    width: 100%;
  }

  .poster-title {
    font-size: 2rem;
  }

  .btn-title,
  #main-poster-title {
    display: none;
  }

  .secondary-poster-overview {
    display: block;
  }
}

@media screen and (max-width: 410px) {
  .bookmark-btn {
    position: relative;
    align-self: start;
  }
}
