@media screen and (max-width: 550px) {
  html {
    font-size: 80%;
  }

  .section-1 {
    padding-left: 1rem;
  }

  .section {
    margin: auto;
    margin-left: 0;
    padding: 1rem;
  }

  .movie-card:hover .movie-info {
    opacity: 0;
    transform: unset;
  }

  .menu-btn {
    display: block;
  }

  .movie-sidebar-nav {
    transform: translateX(-100%);
    width: 15rem;
  }

  .movie-sidebar-nav.active {
    transform: unset;
    width: 15rem;
  }
}
